In [2]:
import pandas as pd

/var/folders/y5/5kc5fqvn2tncnl_868zg4zhr0000gn/T/ipykernel_98305/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_json('News_Category_Dataset.json', lines=True)

In [4]:
df.head()

,short_description,headline,date,link,authors,category
0,She left her husband. He killed their children...,There Were 2 Mass Shootings In Texas Last Week...,2018-05-26,https://www.huffingtonpost.com/entry/texas-ama...,Melissa Jeltsen,CRIME
1,Of course it has a song.,Will Smith Joins Diplo And Nicky Jam For The 2...,2018-05-26,https://www.huffingtonpost.com/entry/will-smit...,Andy McDonald,ENTERTAINMENT
2,The actor and his longtime girlfriend Anna Ebe...,Hugh Grant Marries For The First Time At Age 57,2018-05-26,https://www.huffingtonpost.com/entry/hugh-gran...,Ron Dicker,ENTERTAINMENT
3,The actor gives Dems an ass-kicking for not fi...,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,2018-05-26,https://www.huffingtonpost.com/entry/jim-carre...,Ron Dicker,ENTERTAINMENT
4,"The ""Dietland"" actress said using the bags is ...",Julianna Margulies Uses Donald Trump Poop Bags...,2018-05-26,https://www.huffingtonpost.com/entry/julianna-...,Ron Dicker,ENTERTAINMENT

In [5]:
df.shape

(124989, 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 124989 entries, 0 to 124988
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   short_description  124989 non-null  object
 1   headline           124989 non-null  object
 2   date               124989 non-null  datetime64[ns]
 3   link               124989 non-null  object
 4   authors            124989 non-null  object
 5   category           124989 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 6.7+ MB

In [7]:
df.category.value_counts()[:25]

category
POLITICS          32739
ENTERTAINMENT     14257
HEALTHY LIVING     6694
QUEER VOICES       4995
BUSINESS           4254
SPORTS             4167
COMEDY             3971
PARENTS            3955
BLACK VOICES       3858
THE WORLDPOST      3664
WOMEN              3490
CRIME              2893
MEDIA              2815
WEIRD NEWS         2670
GREEN              2622
IMPACT             2602
WORLDPOST          2579
RELIGION           2556
STYLE              2254
WORLD NEWS         2177
TRAVEL             2145
TASTE              2096
ARTS               1509
FIFTY              1401
GOOD NEWS          1398
Name: count, dtype: int64

In [8]:
min_sample = 3971

df_politics = df[df.category == 'POLITICS'].sample(min_sample, random_state=42)
df_entertainment = df[df.category == 'ENTERTAINMENT'].sample(min_sample, random_state=42)
df_health = df[df.category == 'HEALTHY LIVING'].sample(min_sample, random_state=42)
df_queer = df[df.category == 'QUEER VOICES'].sample(min_sample, random_state=42)
df_business = df[df.category == 'BUSINESS'].sample(min_sample, random_state=42)
df_sport = df[df.category == 'SPORTS'].sample(min_sample, random_state=42)
df_comedy = df[df.category == 'COMEDY'].sample(min_sample, random_state=42)

In [9]:
df_balanced = pd.concat([df_business, df_entertainment, df_comedy, df_health, df_politics,
           df_queer, df_sport],axis=0)
df_balanced.head()

,short_description,headline,date,link,authors,category
16076,A mass email told customers they'd received a ...,Surprise! Amazon Seems To Think You're Pregnant,2017-09-20,https://www.huffingtonpost.com/entry/amazon-ba...,Dominique Mosbergen,BUSINESS
58951,The #SleepRevolution has arrived at your desk.,Why Major Corporations Now Realize They Can't ...,2016-05-12,https://www.huffingtonpost.com/entry/corporati...,Suzy Strutner,BUSINESS
95552,"Internet of Things, big data, social media, an...",Here's How the Internet of Things Will Impact ...,2015-03-23,https://www.huffingtonpost.com/entry/heres-how...,"Beverly Macy, ContributorAuthor, Educator, Spe...",BUSINESS
111688,,Here's How Unfair The Tax System Is In Each State,2014-09-18,https://www.huffingtonpost.com/entry/fair-taxe...,Kevin Short,BUSINESS
44072,Uber will appeal the decision.,"Uber Should Pay Drivers Minimum Wage, UK Court...",2016-10-28,https://www.huffingtonpost.com/entry/uber-uk-m...,"Costas Pitas, Reuters",BUSINESS

What i did in the previous lines of code was to deal with the problem of class imbalance by undersampling.

In [10]:
df_balanced.category.value_counts()

category
BUSINESS          3971
ENTERTAINMENT     3971
COMEDY            3971
HEALTHY LIVING    3971
POLITICS          3971
QUEER VOICES      3971
SPORTS            3971
Name: count, dtype: int64

In [11]:
targets = {'BUSINESS':0, 'ENTERTAINMENT':1, 'COMEDY':2,
           'HEALTHY LIVING':3, 'POLITICS':4, 'QUEER VOICES':5, 'SPORTS':6}

In [12]:
df_balanced['new_category'] = df_balanced.category.map(targets)
df_balanced.sample(5)

,short_description,headline,date,link,authors,category,new_category
79891,ðŸ™†,Jessica Simpson's HSN Appearance Has Some Scra...,2015-09-18,https://www.huffingtonpost.com/entry/jessica-s...,Cavan Sieczkowski,ENTERTAINMENT,1
35425,"""Trying 2 keep in check bc damnit I love u Ame...",Sarah Silverman Walks Back Tweet Urging Milita...,2017-02-03,https://www.huffingtonpost.com/entry/sarah-sil...,Ron Dicker,ENTERTAINMENT,1
25798,Please drink and dance responsibly.,'How To Dance While Holding A Drink' Is Both A...,2017-05-24,https://www.huffingtonpost.com/entry/how-to-da...,Andy McDonald,COMEDY,2
74178,He took his dad to school.,Stephen Curry Is Way Better Than His Dad At Pl...,2015-11-20,https://www.huffingtonpost.com/entry/stephen-c...,Erick Fernandez,SPORTS,6
88754,"A sport is ""a contest or a game in which peopl...",Caitlyn Jenner and ESPN's Arthur Ashe Award,2015-06-09,https://www.huffingtonpost.com/entry/caitlyn-j...,"Ingrid Vasquez, ContributorFreelance Writer",SPORTS,6

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df_balanced.short_description,
                     df_balanced.new_category,
                     test_size = 0.2,
                     random_state=42,
                     stratify = df_balanced.new_category)

In [14]:
y_train.value_counts()

new_category
1    3177
5    3177
0    3177
4    3177
2    3177
6    3176
3    3176
Name: count, dtype: int64

let's build our model. we're going  to be using a pipeline for this

In [17]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from sklearn.feature_extraction.text import CountVectorizer

In [18]:
clf = Pipeline([
    ('vectorizer_bow', CountVectorizer()),
    ('Naives Bayes', MultinomialNB())
])

clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.34      0.73      0.46       794
           1       0.59      0.31      0.41       794
           2       0.47      0.24      0.32       794
           3       0.44      0.60      0.51       795
           4       0.56      0.57      0.56       794
           5       0.56      0.45      0.50       794
           6       0.69      0.44      0.53       795

    accuracy                           0.48      5560
   macro avg       0.52      0.48      0.47      5560
weighted avg       0.52      0.48      0.47      5560

In [19]:
clf = Pipeline([
    ('vectorizer_bow', CountVectorizer(ngram_range=(1,2))),
    ('Naives Bayes', MultinomialNB())
])

clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.30      0.76      0.43       794
           1       0.65      0.23      0.34       794
           2       0.56      0.14      0.23       794
           3       0.40      0.61      0.48       795
           4       0.53      0.55      0.54       794
           5       0.52      0.45      0.48       794
           6       0.72      0.36      0.48       795

    accuracy                           0.44      5560
   macro avg       0.53      0.44      0.43      5560
weighted avg       0.53      0.44      0.43      5560

In [20]:
clf = Pipeline([
    ('vectorizer_bow', CountVectorizer(ngram_range=(1,3))),
    ('Naives Bayes', MultinomialNB())
])

clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.29      0.76      0.42       794
           1       0.66      0.19      0.30       794
           2       0.55      0.12      0.19       794
           3       0.39      0.59      0.47       795
           4       0.51      0.53      0.52       794
           5       0.51      0.44      0.48       794
           6       0.72      0.34      0.46       795

    accuracy                           0.42      5560
   macro avg       0.52      0.42      0.41      5560
weighted avg       0.52      0.42      0.41      5560

In [30]:
import spacy
nlp = spacy.load('en_core_web_sm')

def preprocess(text):
    doc = nlp(text)
    
    filtered_tokens = []
    
    for token in doc:
        if not token.is_stop and not token.is_punct:
            filtered_tokens.append(token.lemma_)
    return " ".join(filtered_tokens)

In [32]:
df_balanced['processed_text'] = df_balanced.short_description.apply(preprocess)

now i am going to build the model with the preprocessed text and compare the results

In [33]:
X_train, X_test, y_train, y_test = train_test_split(
    df_balanced.processed_text,
                     df_balanced.new_category,
                     test_size = 0.2,
                     random_state=42,
                     stratify = df_balanced.new_category)

In [34]:
clf = Pipeline([
    ('vectorizer_bow', CountVectorizer()),
    ('Naives Bayes', MultinomialNB())
])

clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.34      0.75      0.47       794
           1       0.56      0.34      0.42       794
           2       0.44      0.23      0.30       794
           3       0.49      0.57      0.53       795
           4       0.57      0.59      0.58       794
           5       0.58      0.47      0.52       794
           6       0.71      0.46      0.56       795

    accuracy                           0.49      5560
   macro avg       0.53      0.49      0.48      5560
weighted avg       0.53      0.49      0.48      5560

There's no noticeable improvement in our new model. i think one of the limitation could come from the fact that the single column i am using does not contain enough distinguishing information.